<div class="container user-container">
  <div class="row min-vh-100">
    <div class="col-sm-12 col-md-3 col-lg-3">
      <%= render "admin/facade/navigation" %>
      <%= render "admin/facade/numbers" %>
    </div>
    <div class="col-sm-12 col-md-9 col-lg-9" id="dashboard-show">
      <%= render "admin/bookings/list_of_bookings" %>
    </div>
  </div>
</div>
