<div class="card bg-white">
  <div class="card-body">
    <h5 class="card-title" style="color: black">Inscrivez-vous à ce cours</h5>
    <img src="https://camo.githubusercontent.com/35bbc0c9cad2208d3f9091604f62a5c36ad91f8aa6f49cadac823185016859cf/68747470733a2f2f696d672e616c6963646e2e636f6d2f7470732f5442316d5943384b565858585861485858585858585858585858582d3536362d3637382e706e67" alt="calendar picture" class="p-1" style="width: 10vw; height: 10vw; object-fit: cover; border-radius: 10px">
  </div>
</div>
