<div class="card mb-3 bg-white" style="color: black">
  <h3 class="card-header bg-white">Lesson title</h3>
  <div class="card-body">
    <h6 class="card-title">⭐️⭐️⭐️⭐️⭐️ 4,8 (65 avis)</h6>
    <h6 class="card-subtitle text-muted">115 élèves ont déjà pris ce cours</h6>
  </div>
  <img src="https://www.ville-lomme.fr/var/www/storage/images/mediatheque/ecole-de-coupe-et-couture2/127485-1-fre-FR/Ecole-de-Coupe-et-Couture.jpg" class="center" width="90%" height="auto">
  <div class="card-body">
    <p class="card-text">Insert description of the class here. </p>
  </div>
</div>

https://www.ville-lomme.fr/var/www/storage/images/mediatheque/ecole-de-coupe-et-couture2/127485-1-fre-FR/Ecole-de-Coupe-et-Couture.jpg