<div class="card mb-3 bg-white" style="color: black">
  <h3 class="card-header bg-white">Introduction à la couture</h3>
  <div class="card-body">
    <h6 class="card-title">⭐️⭐️⭐️⭐️⭐️ 4,8 (65 avis)</h6>
    <h6 class="card-subtitle text-muted">115 élèves ont déjà pris ce cours</h6>
  </div>
  <img src="https://www.ville-lomme.fr/var/www/storage/images/mediatheque/ecole-de-coupe-et-couture2/127485-1-fre-FR/Ecole-de-Coupe-et-Couture.jpg" class="center" width="100%" height="auto">
  <div class="card-body">
    <p class="card-text"> Insert description here</p>
    <p class="card-text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Pharetra et ultrices neque ornare. Praesent tristique magna sit amet purus. Lobortis scelerisque fermentum dui faucibus in ornare quam viverra. Interdum varius sit amet mattis. Id leo in vitae turpis massa sed. Diam phasellus vestibulum lorem sed. Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Vitae purus faucibus ornare suspendisse. Sapien et ligula ullamcorper malesuada proin libero. Dolor sit amet consectetur adipiscing elit. Orci sagittis eu volutpat odio. Ac turpis egestas maecenas pharetra convallis posuere morbi.</p>
  </div>
</div>