<div class="card mb-3 bg-white" style="color: black">
  <h3 class="card-header bg-white">Lesson title</h3>
  <div class="card-body">
    <h6 class="card-title">⭐️⭐️⭐️⭐️⭐️ 4,8 (65 avis)</h6>
    <h6 class="card-subtitle text-muted">115 élèves ont déjà pris ce cours</h6>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
    <rect width="100%" height="100%" fill="#868e96"></rect>
    <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text>
  </svg>
  <div class="card-body">
    <p class="card-text">Insert description of the class here. </p>
  </div>
</div>