<div class="card mb-3 bg-white" style="color: black">
  <div class="card-header bg-white">
    <div class="row">
      <div class="col-1">
        <img src="https://static.toiimg.com/photo/msid-67586673/67586673.jpg?3918697" alt="profile picture" class="p-1" style="width: 5vw; height: 5vw; object-fit: cover; border-radius: 50px">
      </div>
      <div class="col-11 d-flex align-items-center">
        <div class="ml-3">
          <strong>Teacher's name</strong><br/>
          <span>Enseigne sur KnowShare depuis le :</span>
        </div>
      </div>
    <div>
  </div>
  <div class="card-body">
    <p class="card-text">Insert description of the teacher here (truncate it so it's not too long). </p>
    <button type="button" class="btn btn-secondary">Voir son profil</button>
  </div>
</div>