<div class="container d-flex justify-content-center">
  <div class="card border-secondary mb-3" style="max-width: 60rem;">
    <div class="h4 card-header text-center">Contactez-nous !</div>
    <div class="card-body">
      <h5 class="card-title">Une question ?</h5>
      <p class="card-text">Nous serons ravis de répondre à vos questions, envoyez-vous un message à : </p> 
      <div class="text-center">
        <%= mail_to "team.genepi.thp@gmail.com" %>
      </div>
    </div>
  </div>
</div>
