<div class="container d-flex justify-content-center">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <%= image_tag  "https://cdn.pixabay.com/photo/2020/11/04/10/45/school-5711987_1280.jpg", class:"img-fluid img-lesson" %>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="card-body">
        <h4 class="card-title">Une question ?</h4>
        <p class="card-text">Nous serons ravis de répondre à vos questions, envoyez-vous un message à : </p><br><br>
        <div class="text-center">
          <%= mail_to "team.genepi.thp@gmail.com" %>
        </div>
      </div>
    </div>
  </div>
</div>
