<div class="container" id="messages-container">
  <% if message.user == message.chatroom.booking.user %>
    <div class="row">
      <p class="ml-auto bg-secondary p-2 message"><b><%= message.user.username %>:</b> <%= message.content %></p>
    </div>
  <% else %>
    <div class="row">
      <p class="bg-info p-2 message"><b><%= message.user.username %>:</b> <%=message.content %></p>
    </div>
  <% end %>
</div>
