<%= render "header_mail" %>
    <h1>Salut !</h1>
    <p>
      Tu t'es inscrit sur au cours nom_du_cours de pseudo_teacher en utilisant l'e-mail suivant : <%= @student.email %>.
    </p>
    <p>
      Voici un rappel :
      Date_et_horaire
    </p>
<%= render "footer_mail" %>