<%= render "header_mail" %>

  <h1>Salut !</h1>
  <p>
    Pseudo_student s'est inscrit sur ton cours nom_du_cours en utilisant l'e-mail suivant : <%= @student.email %>.
  </p>
  <p>
    Voici un rappel :
    Date_et_horaire
  </p>

<%= render "footer_mail" %>