<div class="row border-bottom border-gray py-2 mb-2 mr-2">
  <div class="col-lg-3 col-md-3 col-sm-12">
    Date du cours
  </div>
  <div class="col-lg-3 col-md-3 col-sm-12">
    Titre du cours
  </div>
  <div class="col-lg-3 col-md-3 col-sm-12">
    Nom du professeur
  </div>
  <div class="col-lg-3 col-md-3 col-sm-12">
    <button type="button" class="btn btn-outline-danger">Annuler ce cours</button>
  </div>
</div>