<div class="row border-bottom border-gray py-2 mb-2 mr-2">
  <div class="col-lg-3 col-md-3 col-sm-12">
    <%= lesson.start_date %>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-12">
    <%= lesson.title %>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-12">
    <%= lesson.teacher %>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-12">
    <button type="button" class="btn btn-outline-danger">Annuler ce cours</button>
  </div>
</div>