<div class="list-group my-3">
  <div class="card-header bg-white text-dark">
    <div class="row">
      <div class="mx-2">
        <i class="fas fa-tachometer-alt fa-3x"></i>
      </div>
      <div class="d-flex mx-2">
          <h3><strong>Dashboard</strong></h3>
      </div>
    </div>
  </div>
  <%= link_to "Voir mes informations de profil", root_path, class:"list-group-item list-group-item-action text-dark", id:"button-user", remote: :true %>
  <%= link_to "Modifier mes informations de profil", root_path, class:"list-group-item list-group-item-action text-dark", id:"button-user", remote: :true %>
  <%= link_to "Accéder à mon dashboard élève", root_path, class:"list-group-item list-group-item-action text-dark", id:"button-course", remote: :true %>
  <%= link_to "Accéder à mon dashboard prof", root_path, class:"list-group-item list-group-item-action text-dark", id:"button-user", remote: :true %>
</div>
