<div class="card my-3 bg-white text-dark" style="overflow: scroll; height: 80vh;">
  <div class="card-header bg-white">
    <div class="row">
      <div class="mx-2">
        <i class="fas fa-chalkboard-teacher fa-3x"></i>
      </div>
      <div class="mx-2 d-flex align-self-center">
          <h3><strong>Mon dashboard prof</strong></h3>
      </div>
      <div class="pb-0 ml-auto mr-2 align-self-center">
        <%= link_to "Editer mon planning de disponibilités", user_schedules_path(current_user.id), class: "btn btn-outline-primary" %>
      </div>
    </div>
  </div>
  
  <div class="card-body">
    <h4>Mes cours à venir</h4>
    <% if !current_user.future_teacher_bookings.any? %>
      <p>Tu n'as encore aucun cours de prévu !</p>
      <hr>
    <% else %>
      <table class="table table-bordered table-striped text-dark">
        <thead>
          <tr>
            <th>Date du cours</th>
            <th>Titre du cours</th>
            <th>Nom du professeur</th>
            <th>Durée du cours</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% current_user.future_teacher_bookings.each do |booking| %>
            <%= render 'users/booking_list_teacher', booking: booking %>
          <% end %>
      </table>
    <% end %>

    <h4>Mes cours passés</h4>

    <% if !current_user.past_teacher_bookings.any? %>
      <p>Tu n'as encore jamais donné de cours</p>
      <hr>
    <% else %>
      <table class="table table-bordered table-striped text-dark">
        <thead>
          <tr>
            <th>Date du cours</th>
            <th>Titre du cours</th>
            <th>Nom de l'élève</th>
            <th>Durée du cours</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% current_user.past_teacher_bookings.each do |booking| %>
            <%= render 'users/booking_list_teacher', booking: booking %>
          <% end %>
      </table>
    <% end %>
  </div>
</div>
