<div class="container user-container">
  <div class="row min-vh-100">
    <div class="col-sm-12 col-md-6 col-lg-6">
      <%= render "profile_info_card" %>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
      <%= render "student_classes_card" %>
      <% if current_user.teacher? %>
        <%= render "teacher_classes_card"%>
      <% end %>
    </div>
  </div>
</div>
