<%
=begin%>
 <div class="container user-container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-8 my-2">
      <%= render "index_schedules", local: @schedules %>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-4 my-2">
      <%= render "new_schedule"%>
    </div>
  </div>

</div> 
<%
=end%>

<!--RIGHT LAYOUT-->

<div class="card my-3 bg-white text-dark dashboard-right-card">
  <div class="card-header bg-white">
    <div class="row">
      <div class="mx-2">
        <i class="far fa-calendar-plus fa-3x"></i>
      </div>
      <div class="mx-2 d-flex align-self-center">
          <h3><strong>Mettre à jour mes disponibilités</strong></h3>
      </div>
    </div>
  </div>
  <div class="card-body">
    <%= render "new_schedule"%>
    <%= render "index_schedules", local: @schedules %>
  </div>
</div>
