<div class="container user-container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-8 my-2">
      <%= render "index_schedules", local: @schedules %>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-4 my-2">
      <%= render "new_schedule"%>
    </div>
  </div>

</div>
