<section class="bg-white text-dark py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-4">
        <div class="row align-items-center justify-content-center">
          <div class="number m-2">1</div>
          <i class="far fa-calendar-check fa-3x ml-2"></i>
        </div>
        <p class="text-center px-4 p-concept">Réserves un cours qui peut te plaire avec le professeur que tu sens bien</p>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="row align-items-center justify-content-center">
          <div class="number m-2">2</div>
          <i class="fas fa-comments fa-3x ml-2"></i>
        </div>
        <p class="text-center px-4 p-concept">Échanges par chat sur le site jusqu’à la date du cours</p>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="row align-items-center justify-content-center">
          <div class="number m-2">3</div>
          <i class="fas fa-folder-plus fa-3x ml-2"></i>
        </div>
        <p class="text-center px-4 p-concept">Récupères des crédits en créant ton propre cours</p>
      </div>
    </div>
  </div>
</section>