<section class="bg-white text-dark custom-section">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-xl-8 col-lg-9">
      <h2 class="font-weight-bold text-center mb-5">KnowShare veut recréer du lien entre les humains avec une plateforme d'échange et de partage de connaissances.</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-4 concept-card">
        <div class="row align-items-center justify-content-center">
          <div class="number m-2">1</div>
          <i class="fas fa-sign-in-alt fa-5x ml-2"></i>
        </div>
        <p class="text-center px-4 p-concept">Je m’inscris, j’ai le droit à 4 crédits</p>
      </div>
      <div class="col-sm-12 col-md-4 concept-card">
        <div class="row align-items-center justify-content-center">
          <div class="number m-2">2</div>
          <i class="far fa-calendar-check fa-5x ml-2"></i>
        </div>
        <p class="text-center px-4 p-concept">Ces crédits me permettent de réserver les cours de mon choix (1 crédit = 30 minutes de cours)</p>
      </div>
      <div class="col-sm-12 col-md-4 concept-card">
        <div class="row align-items-center justify-content-center">
          <div class="number m-2">3</div>
          <i class="fas fa-folder-plus fa-5x ml-2"></i>
        </div>
        <p class="text-center px-4 p-concept">Pour récupérer des crédits, je donne à mon tour des cours (30 minutes de cours donné = 1 crédit récupéré)</p>
      </div>
    </div>
  </div>
</section>