<div class="container vh-100">
  <h2 class="titleIndex mt-5 mb-0 text-center">Les cours à la une</h2>
  <p class="subTitleIndex text-center">Découvres les cours les plus populaires</p>
  <div class="morelistServices">
    <a class="btn btn-light" href="/recherche">Tous les cours</a>
  </div>
</div>