<section class="custom-section">
  <div class="container" id="all-lessons">
    <div class="row justify-content-center text-center">
      <div class="col-xl-8 col-lg-9">
      <h2 class="font-weight-bold text-center">Les cours à la une</h2>
      <p class="subTitleIndex text-center mb-4">Découvre les cours les plus populaires</p>
      <p class="subTitleIndex text-center mb-3">Tu veux savoir si un cours peut t'intéresser ? Fais une petite recherche !</p>
      </div>
    </div>

    <%= render "search_bar" %>
    <%= render "shared/index_cards", lessons: @lessons %>
    
    <div class="row justify-content-center mt-5">
      <%= link_to "Tous les cours", lessons_path, :class => "btn-lg btn-block btn-primary w-25 text-center" %>
    </div>
  </div>
</section>
