<div class="container-fluid vh-100 jumbo">
  <div class="px-4 h-100">
    <div class="row align-items-center h-100 px-4">
      <div>
      <h1 class="pt-5 h1-jumbo" >Tu veux apprendre <span id="typed"></span></h1>
      <h2 class="mb-4">Tu es au bon endroit ! Avec KnowShare, trouves le professeur qui te correspond et apprends en pair learning</h2>
      <%= link_to "Voir les cours", lessons_path, :class => "btn-lg btn-primary" %>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag 'jumbo_typed_text' %>