<div class="container-fluid vh-100 jumbo">
  <div class="px-4 h-100">
    <div class="row align-items-center h-100 px-4">
      <div>
      <h1 class="pt-5 h1-jumbo" >Tu veux apprendre <span id="typed"></span></h1>
      <h3>Trouves ton professeur et apprends en pair learning</h3>
      </div>
    </div>
  </div>
</div>

<script>
  new Typed('#typed', {
    strings: ['les mathématiques ?', 'la trigonométrie ?', 'le développement web ?'],
    smartBackspace: true,
    typeSpeed: 50,
    backSpeed: 20,
    startDelay: 100,
    loop: true,
    loopCount: 3,
  });
</script>