<section class="bg-white text-dark custom-section">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-xl-8 col-lg-9">
      <h2 class="font-weight-bold mb-5">Ce qu'ils pensent de nous</h2>
      </div>
    </div>
    <div class="wrapper">
    <div class="box">
      <i class="fas fa-quote-left quote"></i>
      <p>En quelques heures à peine, j'ai pu apprendre les bases en guitare. Je peux maintenant jouer des morceaux sympas pendant une soirée avec mes copains, merci Know Share et merci Vanak !</p>
      <div class="content">
        <div class="info">
          <div class="name">Alex Smith</div>
          <div class="job">Designer | Developer</div>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
          </div>
        </div>
        <div class="image">
          <%= image_tag 'https://mdbootstrap.com/img/Photos/Avatars/img%20(3).jpg'%>
          
        </div>
      </div>
    </div>
    <div class="box">
      <i class="fas fa-quote-left quote"></i>
      <p>Grâce à Maxime, j'ai acquis de bonnes compétences pour pratiquer l'aïkido en autonomie. J'ai même initié ma mère ! Peut-être que moi aussi un jour je donnerais un cours d'aïkido sur cette super-plateforme de partage !</p>
      <div class="content">
        <div class="info">
          <div class="name">Karla Brunie</div>
          <div class="job">YouTuber | Blogger</div>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
        </div>
        <div class="image">
          <%= image_tag 'https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg'%>
        </div>
      </div>
    </div>
    <div class="box">
      <i class="fas fa-quote-left  quote"></i>
      <p>Pendant le premier confinement, j'ai enfin eu le temps de me mettre à la couture, quel plaisir de se faire guider par une personne patiente et qui aime transmettre, Je recommande les cours de Coline. </p>
      <div class="content">
        <div class="info">
          <div class="name">Kristina Bellis</div>
          <div class="job">Freelancer | Advertiser</div>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
          </div>
        </div>
        <div class="image">
          <%= image_tag 'https://mdbootstrap.com/img/Photos/Avatars/img%20(33).jpg'%>
        </div>
      </div>
    </div>
  </div>
  </div>

</section>

