<%= render "header_mail" %>

  <h1>Salut !</h1>
  <p>
    Nous t'informons que l'annulation du cours <%= @lesson_title %> du <%= @start_date %> a bien été enregistrée.
  </p>
  <p>
    N'attendez plus pour réserver un nouveau cours !
    
  </p>

<%= render "footer_mail" %>