<div class="container">
  <h3 class="text-center mt-4">Bonjour <%= current_user.first_name %>, et bienvenue dans votre espace administrateur</h3>
  <%= render "list_of_courses" %>
  <%= render "list_of_users" %>
</div>