<div class="bg-danger text-white rounded-pill mt-2" id="badge-schedule-<%= schedule.id %>">
  <p class="text-center py-2"><%= schedule.start_time.strftime("%H:%M") %> - <%= schedule.end_time.strftime("%H:%M") %></p>
</div>