<div class="card mb-3 bg-white text-dark text-center">
<div class="card-header bg-white">
    <div class="row">
      <div class="mx-3">
        <i class="far fa-calendar-alt fa-3x"></i>
      </div>
      <div class="mx-2 d-flex align-self-center ml-2">
          <strong>Inscris-toi à ce cours</strong>
      </div>
    </div>
  </div>
  <div class="card-body">
    <p>Si tu veux plusieurs créneaux d'affilés, réserve un par un pour créer ta plage horaire.</p>

    <%= form_for [ @lesson, @booking ] do |f| %>
      <div class="form-group">
        <%= f.label "Choisis un horaire :" %><br/>
        <%= f.datetime_select :start_date, {:minute_step => 30} %>
      </div>
      <div class="form-group d-flex">
        <%= button_to "Je m'inscris", lesson_bookings_path(@lesson), :class => "btn btn-warning mx-auto px-5" %>
      </div>
    <% end %>
    </div>

  </div>
</div>
