<div class="card mb-3 bg-white text-dark">
  <h4 class="card-header bg-white text-center mt-3">Voici les disponibilités du prof</h4>
  <div class="card-body">
    <div class="bg-dark text-white p-3 rounded">
      <%= week_calendar(events: @schedules) do |date, schedules| %>

        <% schedules.each do |schedule| %>
          <div>
            <p class="text-dark text-center"><%= schedule.start_time.strftime("%H:%M") %> à <%= schedule.end_time.strftime("%H:%M") %></p>
            
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
