<div class="card mb-3 bg-white text-dark text-center sticky-top">
  <div class="card-body">
    <h5 class="card-title">Inscrivez-vous à ce cours</h5>
    <p id="target_calendar">Cliquer sur un horaire</p>
    
    <%= link_to  "Je m'inscris", "#", class:"btn btn-warning m-2 px-5" %>

  </div>
</div>
