<div class="card-body">
  <h5 class="card-title text-center">Voici les disponibiltés du prof</h5>
  <ul class="list-group" >
    <div class="rounded schedule-items" id="schedule-container">
    <% @schedules.each do |schedule| %>
      <%= render "schedules/schedule_object", schedule: schedule %>
    <% end %>
    </div>
  </ul>
</div>


