<div class="card-body">
  <h3 class="text-center">Disponibilité du prof</h2>
  <ul class="list-group p-3" >
    <div class="rounded schedule-items" id="schedule-container">
    <% @schedules.each do |schedule| %>
      <%= render "schedules/schedule_object", schedule: schedule %>
    <% end %>
    </div>
  </ul>
</div>


