<div class="card mb-3 bg-white text-dark text-center">
<div class="card-header bg-white">
    <div class="row">
      <div class="mx-3">
        <i class="far fa-calendar-alt fa-3x"></i>
      </div>
      <div class="mx-2 d-flex align-self-center ml-2">
          <strong>Connecte-toi pour t'inscrire</strong>
      </div>
    </div>
  </div>
  <div class="card-body">
      <%= link_to "Se connecter", new_user_session_path, class: "nav-link btn btn-info mx-2 my-1 px-3" %>
  </div>
</div>