<div class="card mb-3 bg-white">
  <div class="card-header bg-white">
    <div class="row">
      <div class="mx-2">
        <img src="https://static.toiimg.com/photo/msid-67586673/67586673.jpg?3918697" alt="profile picture" class="p-1" style="width: 4vw; height: 4vw; object-fit: cover; border-radius: 50px">
      </div>
      <div class="mx-2 d-flex align-self-center">
          <strong>Teacher's name</strong>
      </div>
    </div>
  </div>
  <div class="card-body">
    <p class="card-text">Insert description of the teacher here (truncate it so it's not too long). </p>
    <button type="button" class="btn btn-secondary">Voir son profil</button>
  </div>
</div>