<div class="card mb-3 bg-white text-dark text-center">
  <div class="card-body">
    <h5 class="card-title">Ton prof n'a pas encore de disponibilité</h5>
    <p>Patiente un instant, le temps qu'il (ou elle) crée son emploi du temps</p>
  </div>
</div>