<%= render 'jumbotron'%>
<section id="concept" class="bg-white vh-100">
<h2>concept</h2>
</section>
<section id="cards" class="vh-100">
<h2>cards</h2>
</section>
<section id="temoignage" class="bg-white vh-100">
<h2>temoignage</h2>
</section>
