<section class="bg-white text-dark">
  <%= render "about_teacher" %>

</section>

<section class="mb-5">
  <div class="container">
    <h2 class="text-center my-4"><strong>Les cours proposés par <%= @user.username %></strong></h2>
    <%= render "shared/index_cards", local: @lessons %>
  </div>
</section>
