<div class="container user-container">
  <div class="row min-vh-100">
    <div class="col-sm-12 col-md-3 col-lg-3">
      <%= render "users/navigation" %>
    </div>
    <div class="col-sm-12 col-md-9 col-lg-9" id="user-dashboard-show">
      <%= render "list_of_orders" %>
    </div>
  </div>
</div>
