<p>Bienvenue <%= @email %>!</p>

<p>Tu peux confirmer ton compte en utilisant le lien ci-dessous</p>

<p><%= link_to 'Confirmer mon compte', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>L'équipe KnowShare</p>
