<p>Bonjour <%= @resource.email %>!</p>

<p>Une demande de changement de mot de passe a été effectuée, tu peux la confirmer en cliquant sur le lien ci-dessous.</p>

<p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si cette demande ne vient pas de ta part, ignore cet email.</p>
<p>Ton mot de passe ne sera pas changé tant que tu n'auras pas cliqué sur le lien ci-dessus et entré un nouveau mot de passe dans le formulaire.</p>

<p>L'équipe KnowShare</p>
