<p>Bonjour <%= @resource.email %>!</p>

<p>Une demande de changement de mot de passe a été demandé, vous pouvez la confirmer en cliquant sur le lien ci-dessous.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si cette demande ne vient pas de votre part, ignorez cet email.</p>
<p>Votre mot de passe ne sera pas changer tant que vous n'aurez pas cliqué sur le lien ci-dessus et entré un nouveau mot de passe dans le formulaire.</p>


<p>L'équipe KnowShare</p>
